.panelPrincipal {
  display: flex;
  flex-direction: row;
  border: 2px solid #f2f1f1;
}
.panelTareas {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  border-right: 2px solid #f2f1f1;
}
.panelTareas > header {
  display: flex;
  height: 50px;
  border-bottom: 2px solid #f2f1f1;
}
.panelSecciones > section {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 10px;
  font-size: 13px;
}
.panelSecciones > section:nth-child(even) {
  background-color: #f2f2f2;
}
.panelSecciones > section > span {
  display: inline-block;
  width: 30px;
  cursor: pointer;
  user-select: none;
}
.panelCalendario {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.panelCalendario > table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.panelCalendario > table > thead > tr > th {
  min-width: 200px;
  height: 48px;
  border-bottom: 2px solid #f2f1f1;
  font-size: 13px;
  color: #7e7e7e;
}
.panelCalendario > table > thead > tr > th:last-child {
  border-right: 0px;
}
.panelCalendario > table > tbody > tr {
  position: relative;
}
.panelCalendario > table > tbody > tr > td {
  height: 50px;
  padding: 0;
  border-right: 2px solid #f2f1f1;
}
.panelCalendario > table > tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}
.panelCalendario > table > tbody > tr > td:last-child {
  border-right: 0px;
}
.panelCalendario > table > tbody > tr > td > span {
  display: flex;
  width: 100%;
  height: 35px;
  background: #d9d9d9;
  padding: 1px;
  position: relative;
}
.panelCalendario > table > tbody > tr > td > span > article {
  font-size: 9px;
  background-color: #f2f2f2;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: auto;
}
