/* Panel principal */
.panelPrincipal {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
/* Panel de tareas */
.panelTareas {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.panelTareas > header {
  display: flex;
  height: 50px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.panelSecciones > section {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #7e7e7e;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.panelSecciones > section:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
.panelSecciones > section > span {
  display: inline-block;
  width: 30px;
  cursor: pointer;
  user-select: none;
}
/* Columnas Extra */
.panelColumnas {
  display: flex;
  flex-direction: column;
}
.panelColumnas > header {
  display: grid;
  font-size: 13px;
  color: #7e7e7e;
  text-align: center;
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.panelColumnas > header > div {
  font-weight: 700;
}
.panelColumnas > div > section {
  display: grid;
  min-width: 200px;
  font-size: 13px;
  color: #7e7e7e;
  text-align: center;
  height: 50px;
}
.panelColumnas > header > div,
.panelColumnas > div > section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 200px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 13px;
}
.panelColumnas > div > section:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
/* Calendario */
.panelCalendario {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.panelCalendario > table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.panelCalendario > table > thead > tr > th {
  min-width: 200px;
  height: 48px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  color: #7e7e7e;
}
.panelCalendario > table > thead > tr > th:last-child {
  border-right: 0px;
}
.panelCalendario > table > tbody > tr {
  position: relative;
}
.panelCalendario > table > tbody > tr > td {
  height: 50px;
  padding: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.panelCalendario > table > tbody > tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
.panelCalendario > table > tbody > tr > td:last-child {
  border-right: 0px;
}
.panelCalendario > table > tbody > tr > td > span {
  display: flex;
  width: 100%;
  height: 35px;
  padding: 1px;
  position: relative;
}
.panelCalendario > table > tbody > tr > td > span > article {
  font-size: 9px;
  background: #f2f2f2;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: auto;
}
